<h4>New pet form</h4>


<%= form_for @pet do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :breed %>
    <%= f.text_field :breed %>
  </p>
  <p>
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </p>
  <p>
    <%= f.label :dob %>
    <%= f.text_field :dob %>
  </p>

  <%= f.submit %>

<% end %>
