<h2>Pet Info</h2>

<p>
<strong>Name:</strong>
<%= @pet.name %>
</p>

<p>
<strong>Breed:</strong>
<%= @pet.breed %>
</p>

<p>
<strong>Gender</strong>:
<%= @pet.gender %>
</p>

<p>
<strong>DOB:
</strong><%= @pet.dob %>
<!-- storing `dob` as a datetime object as well will allow you to format the date
differently in the future. -->
</p>

<%= link_to 'back to pet list', pets_path %> | <%= link_to 'edit', edit_pet_path %> | <%= link_to 'delete', pet_path(@pet), method: :delete, class: 'delete' %>
