<h2>Vet Info</h2>

<p>
<strong>Name:</strong>
<%= @vet.name %>
</p>

<p>
<strong>School:</strong>
<%= @vet.school %>
</p>


<%= link_to 'back to vets', vets_path %> | <%= link_to 'edit', edit_vet_path %> | <%= link_to 'delete', vet_path(@vet), method: :delete, class: 'delete' %>

<h3>Upcoming Appointments</h3>

  <ul>
  <% @vet.appointments.each do |appointment| %>
    <li>
      <%= link_to "#{appointment.pet} (#{appointment.appointmenttime})", pet_appointment_path(@pet, appointment) %>
    </li>
  <% end %>
</ul>

<h4>Add a Pet Appointment</h4>
