<h2>Vet Info</h2>

<p>
<strong>Name:</strong>
<%= @vet.name %>
</p>

<p>
<strong>School:</strong>
<%= @vet.school %>
</p>


<%= link_to 'back to vets', vets_path %> | <%= link_to 'edit', edit_vet_path %> | <%= link_to 'delete', vet_path(@vet), method: :delete, class: 'delete' %>

<h3>Upcoming Appointments</h3>

<% if !@vet.appointments.empty? %>
  <ul>
    <% @vet.appointments.each do |appointment| %>
      <li>
        <%= "#{appointment.pet.name} (#{appointment.appointmenttime})" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No appointments scheduled.</p>
<% end %>

<h4>Add an Appointment</h4>

<%= form_for [@vet, @appointment] do |f| %>

  <div class="form-group">
    <%= f.label :critter %>
    <%= f.collection_select :pet_id, Pet.order(:name), :id, :name, include_blank: true %>
    <!-- can also set default ordering by using scope - http://api.rubyonrails.org/classes/ActiveRecord/Scoping/Named/ClassMethods.html -->
  </div>
  <div class="form-group">
    <%= f.label :appointment %>
    <%= f.text_field :appointmenttime %>
    <!-- check out http://guides.rubyonrails.org/form_helpers.html#using-date-and-time-form-helpers -->
  </div>

  <%= f.submit %>
<% end %>
